@import "tailwindcss";

@theme {
  /* ! Font */
  --font-manrope: 'Manrope', sans-serif;
  --font-sofia: 'Sofia Sans Condensed', sans-serif;
  --font-spline: 'Spline Sans Mono', monospace;
  --font-caveat: 'Caveat', cursive;
}

body,
html {
  background-color: #f7f7f7;
}

.navbar--light a {
  color: white !important;
}

.navbar--light button {
  color: white !important;
}
