@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

@theme {
  /* ! Font */
  --font-manrope: 'Manrope', sans-serif;
  --font-sofia: 'Sofia Sans Condensed', sans-serif;
  --font-spline: 'Spline Sans Mono', monospace;
}

body,
html {
  background-color: #f7f7f7;
}

.navbar--light a {
  color: white !important;
}

.navbar--light button {
  color: white !important;
}
